<div class="container-fluid portfolio">
    <div class="row project1">
        <div class="col-md-12">
            <div class="col-md-4">
                <img ui-sref='marvelsite' src="images/marvel.png">
            </div>
            <div class="col-md-4">
                <img src="images/jamsesh.png" alt="">
            </div>
            <div class="col-md-4">
                <img src="images/todo.png" alt="">
            </div>
        </div>
    </div>
    <div class="row project2">
        <div class="col-md-12">
            <div class="col-md-4">
                <img src="images/shopular.png" alt="">
            </div>
            <div class="col-md-4">
                <img src="images/instagram.png" alt="">
            </div>
            <div class="col-md-4">
                <img src="images/blog.png" alt="">
            </div>
        </div>
    </div>
</div>
