<div class="container aboutPage">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-7">
                <h3 class="about">About</h3>
                <div class="header-underscore"></div>
                <p class="projectDescription">Hi there, my name is Stephen Mitchell! I'm a Front-End Web Developer and a graduate of The Iron Yard Cincinnati. Essentially, I help people tell computers to do things. I'm a very driven, family-oriented, person who loves oppurtunites to learn and grow. </p>
                <p class="projectDescription">I have educational knowledge in web design, and buisness management. I really enjoy design, find back-end coding to be lots of fun, but mostly I specialize in Front-End Development.</p>
                <p class="projectDescription">When I'm not coding, you'll find me hanging out with my wife, Jackie, and my son, Soren. I also love to read, workout, bike, hike, camp...really anything outdoors.</p>
            </div>
            <div class="col-md-5 hello">
                <h3 class="education">Education</h3>
                <div class="header-underscore"></div>
                <div class="rightSide">
                    <h4 class="name">The Iron Yard Cincinnati</h4>
                    <h5 class="degree">Front-End Engineering, Graduated May 2017</h5>
                    <p class="tools">JavaScript, AngularJS, NodeJS, jQuery
                        <br>Bootstrap, HTML5, CSS / SASS, Amazon S3</p>
                </div>
                <div class="degree-underscore"></div>
                <div class="rightSide">
                    <h4 class="SH">Sam Houston State University</h4>
                    <h5 class="degree">B.B.A. in Management, Graduated August 2010</h5>
                    <p class="tools">Economics, Small Business Mgt., Project Mgt.
                        <br>Finance, Marketing</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="skills">Skills</h3>
            <div class="header-underscoreSkills"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mySkills">
            <i class="devicon-html5-plain-wordmark"></i>
            <i class="devicon-css3-plain-wordmark"></i>
            <i class="devicon-sass-original"></i>
            <i class="devicon-javascript-plain"></i>
            <i class="devicon-angularjs-plain"></i>
            <i class="devicon-jquery-plain-wordmark"></i>
            <i class="devicon-react-original-wordmark"></i>
            <i class="devicon-nodejs-plain"></i>
            <i class="devicon-amazonwebservices-plain-wordmark"></i>
            <i class="devicon-mongodb-plain-wordmark"></i>
            <i class="devicon-bootstrap-plain-wordmark"></i>
            <i class="devicon-gulp-plain"></i>
            <i class="devicon-github-plain-wordmark"></i>
            <i class="devicon-git-plain-wordmark"></i>
            <i class="devicon-heroku-original-wordmark"></i>
        </div>
    </div>
</div>
