<div class="container-fluid singlePageView">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="siglePageTitle">MARVEL FAN S<a class="noStyle" style="color:#FF6B6B">I</a>TE</h3>
        </div>
    </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-7">
                <img class="singleSite" src="images/blog.png">
                <img class="singleSite" src="images/blog.png">
            </div>
            <div class="col-md-5 singleSiteDescription">
                <h3 class="about">About</h3>
                <div class="header-underscore"></div>
                <p class="projectDescription">This was the final weekend project during my time at The Iron Yard, completed in week 9. This project utilized my skills on the front end, as well as a fully built out back-end using NodeJS. This project utilizes MongoDB for storage and has a secure admin page for posting new Blogs.</p>
                <p class="projectDescription">The home page displays the top 10 most recent blog posts, limiting the content to only 300 letters. If you would like to read more, simply click the "Read More" button, which takes you to the full post.</p>
                <h3 class="technologies">Technologies</h3>
                <div class="header-underscore"></div>
                <p class="techDescription">HTML5<br>CSS3 / SCSS<br>AngularJS<br>NodeJS<br>ExpressJS<br>Bootstrap<br>MongoDB</p>
                
            </div>
        </div>
    </div>
</div>

