<div class="container-fluid footer">
    <div class="row">
        <div class="col-md-12 footerNav">
            <div class="col-md-4 footerCopy">
                <h6>© Stephen Mitchell 2017</h6>
            </div>
            <div class="col-md-1 footerMenu">
                <h6 ui-sref='home'>Portfolio</h6>
            </div>
            <div class="col-md-1 footerMenu">
                <h6 ui-sref='about'>About</h6>
            </div>
            <div class="col-md-1 footerMenu">
                <h6 ui-sref='contact'>Contact</h6>
            </div>
            <div class="col-md-1 footerMenu">
                <h6 ui-sref='resume'>Resume</h6>
            </div>
            <div class="col-md-4 footerSocial">
                <a class="fa fa-github" href="https://github.com/spmitchell10" aria-hidden="true"></a>
                <a class="fa fa-linkedin-square" href="https://www.linkedin.com/in/stephen-mitchell-2b7a33bb/" aria-hidden="true"></a>
                <a class="fa fa-twitter-square" href="https://twitter.com/spmitchell_" aria-hidden="true"></a>
            </div>
        </div>
    </div>
</div>
