<div class="container-fluid portfolio">
    <div class="row project1">
        <div class="col-md-12">
            <div class="col-md-4">
                <img ui-sref='marvel' src="images/marvel.png">
            </div>
            <div class="col-md-4">
                <img ui-sref='jamsesh' src="images/jamsesh.png">
            </div>
            <div class="col-md-4">
                <img ui-sref='todo' src="images/todo.png">
            </div>
        </div>
    </div>
    <div class="row project2">
        <div class="col-md-12">
            <div class="col-md-4">
                <img ui-sref='shopular' src="images/shopular.png">
            </div>
            <div class="col-md-4">
                <img ui-sref='instagram' src="images/instagram.png">
            </div>
            <div class="col-md-4">
                <img ui-sref='blog' src="images/blog.png">
            </div>
        </div>
    </div>
</div>
