<div class="container-fluid portfolio">
    <div class="row underline">
        <div class="col-md-8 col-md-offset-2">
            <div class="col-md-12">
                <div>
                    <h3 class="black">Current Projects</h3>
                </div>
                <img src="images/jtfit.png" href="http://www.jackietfitness.com/">
            </div>
        </div>
    </div>
    <div class="row project1">

        <div class="col-md-12">
        <h3 class="red">Previous Projects</h3>
            <div class="col-md-4 marvelSite">
                <img class="marvel" ui-sref='marvel' src="images/marvel.png">
                <span class="marvelPop marvelPopHidden marvelPopVisible" ui-sref='marvel'>
                    <h3>Marvel Fan Site</h3>
                    <div class="header-underscoreHome"></div>
                    <p>This Marvel fan site utilizes Marvel Developers API to display your favorite characters!</p>
                </span>
            </div>
            <div class="col-md-4 jamSite">
                <img ui-sref='jamsesh' src="images/jamsesh.png">
                <span class="jamPop jamPopHidden jamPopVisible" ui-sref='jamsesh'>
                    <h3>Jam Sesh</h3>
                    <div class="header-underscoreHome"></div>
                    <p>This SoundCloud recreation allows you to search and play any artist!</p>
                </span>
            </div>
            <div class="col-md-4 todoSite">
                <img ui-sref='todo' src="images/todo.png">
                <span class="todoPop todoPopHidden todoPopVisible" ui-sref='todo'>
                    <h3>Todo Application</h3>
                    <div class="header-underscoreHome"></div>
                    <p>A todo application that allows you to create and manage tasks.</p>
                </span>
            </div>
        </div>
    </div>
    <div class="row project2">
        <div class="col-md-12">
            <div class="col-md-4 shopularSite">
                <img ui-sref='shopular' src="images/shopular.png">
                <span class="shopularPop shopularPopHidden shopularPopVisible" ui-sref='shopular'>
                    <h3>Shopular Admin Panel</h3>
                    <div class="header-underscoreHome"></div>
                    <p>An admin control panel that allows the creation and editing of an item.</p>
                </span>
            </div>
            <div class="col-md-4 instagramSite">
                <img ui-sref='instagram' src="images/instagram.png">
                <span class="instagramPop instagramPopHidden instagramPopVisible" ui-sref='instagram'>
                    <h3>Instagram Clone</h3>
                    <div class="header-underscoreHome"></div>
                    <p>An Instagram Clone that allows anyone to submit a photo and description. Fully interactive with like button and singe image view.</p>
                </span>
            </div>
            <div class="col-md-4 blogSite">
                <img ui-sref='blog' src="images/blog.png">
                <span class="blogPop blogPopHidden blogPopVisible" ui-sref='blog'>
                    <h3>Personal Blog Site</h3>
                    <div class="header-underscoreHome"></div>
                    <p>This personal blog allows the user to upload a blog to MongoDB and display the most current post on the home page.</p>
                </span>
            </div>
        </div>
    </div>
</div>