<div class="container-fluid singlePageView">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="siglePageTitle">INSTA<a class="noStyle" style="color:#FF6B6B">G</a>RAM</h3>
        </div>
    </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-7">
                <img class="singleSite" src="images/instagram.png">
                <img class="singleSite" src="images/instagram2.png">
            </div>
            <div class="col-md-5 singleSiteDescription">
                <h3 class="about">About</h3>
                <div class="header-underscore"></div>
                <p class="projectDescription">This Instagram Clone assignment was built over the course of a weekend during my seventh week at The Iron Yard for Front-End Engineering. The Back-End was provided for us, our goal was to design and complete the Front-End and interface with the Back-End to complete the application.</p>
                <p class="projectDescription">Upon opening the application you're welcomed by all the submitted images saved on the database. On the home page each image show the number of likes and the description of the photo. Click the heart icon to increment the like count by one.</p>
                <p class="projectDescription">Click the add symbol in the header to navigate to the page where you can post an image. Enter a title, link to the image, and description for the image, then click submit to send your image off to the database with the rest.</p>
                <h3 class="technologies">Technologies</h3>
                <div class="header-underscore"></div>
                <p class="techDescription">HTML5<br>CSS3 / SCSS<br>jQuery<br>AngularJS 1.x<br>Bootstrap<br>Gulp<br>ES6</p>
                
            </div>
        </div>
    </div>
</div>

