<div class="container-fluid singlePageView">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="siglePageTitle">JAM S<a style="color:#FF6B6B">E</a>SH</h3>
        </div>
    </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <img class="singleSite" src="images/jamsesh.png">
                <img class="singleSite" src="images/jamsesh2.png">
            </div>
            <div class="col-md-6 singleSiteDescription">
                <h3 class="about">About</h3>
                <div class="header-underscore"></div>
                <p class="projectDescription">This is a SoundCloud recreation that was built in one day on week three, day 3 during my time at The Iron Yard. This website utilizes AJAX to make a request using the Sound Cloud for Developers. This was the first web application that I used the audio tag. The web app also utilizes parallax scrolling for longer music lists. Plug in your favorite artist and listen away!</p>
                <h3 class="technologies">Technologies</h3>
                <div class="header-underscore"></div>
                <p class="techDescription">HTML5<br>CSS3 / SCSS<br>jQuery<br>JavaScript<br>Bootstrap<br>Gulp<br>ES6</p>
                
            </div>
        </div>
    </div>
</div>

