<header headroom class="container-fluid">
    <div class="row topGreyRow">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-12">
                <div class="col-md-2 col-sm-6">
                    <h1 ui-sref='home' class="logo">S<a style="color:#4ECDC4; text-decoration: none">.M</a></h1>
                </div>
                <div class="col-md-2 navMenu hidden-sm hidden-xs">
                    <h4 ui-sref='home'>Portfolio</h4>
                </div>
                <div class="col-md-2 navMenu hidden-sm hidden-xs">
                    <h4 ui-sref='about'>About</h4>
                </div>
                <div class="col-md-2 navMenu hidden-sm hidden-xs">
                    <h4 ui-sref='contact'>Contact</h4>
                </div>
                <div class="col-md-2 navMenu hidden-sm hidden-xs">
                    <h4 ui-sref='resume'>Resume</h4>
                </div>
                <div class="col-md-2 hidden-sm hidden-xs">
                    <a class="fa fa-twitter-square socialMedia" href="https://twitter.com/spmitchell_" aria-hidden="true"></a>
                    <a class="fa fa-linkedin-square socialMedia" href="https://www.linkedin.com/in/stephen-mitchell-2b7a33bb/" aria-hidden="true"></a>
                    <a class="fa fa-github socialMedia" href="https://github.com/spmitchell10" aria-hidden="true"></a>
                </div>
            </div>
        </div>
        <div class="hamburgerMenu hidden-md hidden-lg">
            <div class="bar"></div>
        </div>
        <div class="container-fluid hiddenMenu navMenuHidden navMenuVisible">
            <div class="row hiddenMenuRow">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <h4 ui-sref='home'>Portfolio</h4>
                    </div>
                    <div class="col-md-2">
                        <h4 ui-sref='about'>About</h4>
                    </div>
                    <div class="col-md-2">
                        <h4 ui-sref='contact'>Contact</h4>
                    </div>
                    <div class="col-md-2">
                        <h4 ui-sref='resume'>Resume</h4>
                    </div>
                    <div class="col-md-2 hidden-sm hidden-xs">
                        <a class="fa fa-twitter-square socialMedia" href="https://twitter.com/spmitchell_" aria-hidden="true"></a>
                        <a class="fa fa-linkedin-square socialMedia" href="https://www.linkedin.com/in/stephen-mitchell-2b7a33bb/" aria-hidden="true"></a>
                        <a class="fa fa-github socialMedia" href="https://github.com/spmitchell10" aria-hidden="true"></a>
                    </div>
                </div>
            </div>
        </div>
</header>
