<header headroom class="container-fluid">
    <div class="row topGreyRow">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-12">
                <div class="col-md-2">
                    <h1 class="logo">S<a style=color:#4ECDC4>.M</a></h1>
                </div>
                <div class="col-md-2 navMenu">
                    <h4 ui-sref='home'>Portfolio</h4>
                </div>
                <div class="col-md-2 navMenu">
                    <h4>About</h4>
                </div>
                <div class="col-md-2 navMenu">
                    <h4>Contact</h4>
                </div>
                <div class="col-md-2 navMenu">
                    <h4>Resume</h4>
                </div>
                <div class="col-md-2">
                    
                    <i class="fa fa-twitter-square socialMedia" aria-hidden="true"></i>
                    <i class="fa fa-linkedin-square socialMedia" aria-hidden="true"></i>
                    <i class="fa fa-github socialMedia" aria-hidden="true"></i>
                </div>
            </div>
        </div>
</header>
