<div class="container-fluid singlePageView">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="siglePageTitle">MARVEL FAN S<a style="color:#FF6B6B">I</a>TE</h3>
        </div>
    </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <img class="singleSite" src="images/shopular.png">
                <img class="singleSite" src="images/shopular2.png">
            </div>
            <div class="col-md-6 singleSiteDescription">
                <h3 class="about">About</h3>
                <div class="header-underscore"></div>
                <p class="projectDescription">This awesome Marvel fan page was build in one day on week three, day four during my time at The Iron Yard. This website utilizes AJAX to make a request using the Marvel Developers API. This website also integrates a google map using Google Maps API.</p>
                <p class="projectDescription">As an added feature, each character and comic has a 'learn more' feature that pops up in a modal to display certain traits of a character and a list of comics they appear in. This feature was added using Bootstrap.</p>
                <h3 class="technologies">Technologies</h3>
                <div class="header-underscore"></div>
                <p class="techDescription">HTML5<br>CSS3 / SCSS<br>jQuery<br>JavaScript<br>Bootstrap<br>Gulp<br>ES6</p>
                
            </div>
        </div>
    </div>
</div>

