<div class="container-fluid singlePageView">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="siglePageTitle">SHOPULAR ADMIN PA<a class="noStyle" style="color:#FF6B6B">N</a>EL</h3>
        </div>
    </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-7">
                <img class="singleSite" src="images/shopular.png">
                <img class="singleSite" src="images/shopular2.png">
            </div>
            <div class="col-md-5 singleSiteDescription">
                <h3 class="about">About</h3>
                <div class="header-underscore"></div>
                <p class="projectDescription">Shopular was built as my first AngularJS application throughout three days during week six at The Iron Yard for Front-End Engineering. This application is an admin product listing page which displays product information in a table format.</p>
                <p class="projectDescription">When you enter the application, the admin has the option of adding a new item to the table. Simply click the button, "Add a Product!" in the top left corner and a modal form pops up to add a new item to the list.</p>
                <p class="projectDescription">All information for this application is persisted using the browsers localstorage.</p>
                <h3 class="technologies">Technologies</h3>
                <div class="header-underscore"></div>
                <p class="techDescription">HTML5<br>CSS3 / SCSS<br>jQuery<br>AngularJS 1.x<br>Bootstrap<br>Gulp</p>
                
            </div>
        </div>
    </div>
</div>

