<div class="container-fluid singlePageView">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="siglePageTitle">TO<a class="noStyle" style="color:#FF6B6B">D</a>O APPLICATION</h3>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-7">
                <a target="_blank" href="images/todo.png">
                    <img class="singleSite" src="images/todo.png">
                </a>
                <a target="_blank" href="images/todo2.png">
                    <img class="singleSite" src="images/todo2.png">
                </a>
            </div>
            <div class="col-md-5 singleSiteDescription">
                <h3 class="about">About</h3>
                <div class="header-underscore"></div>
                <p class="projectDescription">This to-do list was built over the weekend during my sixth week at The Iron Yard for Front-End Engineering. This application keeps track of all your current and completed tasks. It features an always visible "Enter Task" input located at the bottom of your screen. It also features a user-friendly message that changes based on your current task completion status.</p>
                <p class="projectDescription">Click the tabs at the bottom of the application to quickly switch between all your tasks, all your current tasks, and all your completed tasks. All information on this application is persisted in local storage, so feel free to leave and come back to it as needed!</p>
                <h3 class="technologies">Technologies</h3>
                <div class="header-underscore"></div>
                <p class="techDescription">HTML5
                    <br>CSS3 / SCSS
                    <br>jQuery
                    <br>AngularJS 1.x
                    <br>Bootstrap
                    <br>Gulp
                    <br>
                </p>
            </div>
        </div>
    </div>
</div>
