

body {
  width: 100%;
  height: 100%;
  min-height: 100%;
 
}

body {
 
 background: #F5F5F5;
  font-family: 'Raleway', sans-serif;


  color: #fff;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}





//Nav Bar


header{
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  background-color: #292F36;
  margin-bottom: 20px;
  border-bottom: 10px solid #FF6B6B;
}

.socialMedia{
  font-size: 25px;
  padding-top: 25px;
  float: right;
  padding-right: 15px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  }


.socialMedia:hover{
  color: #4ECDC4;
  transition: all .6s ease;
  text-decoration: none;
}

.navMenu{
  padding-top: 25px;

  h4{
    text-align: center;
    cursor: pointer;
  }
  
}
.navMenu:active{
    border-bottom: 5px solid #4ECDC4;
    

    h4{
      color: #4ECDC4;
      
    }
}

.navMenu:hover{
    border-bottom: 5px solid #4ECDC4;
    transition: all .4s ease;
    h4{
      color: #4ECDC4;
      transition: all .4s ease;
    }
}
  

  // Portfolio

  .portfolio{
    padding-top: 125px;
    .project1{
      margin-bottom: 40px;
    }
    img{
      width: 100%;
      box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.4);
      cursor: pointer;
    }
  }

  // Single Porfolio Site Page

  .singlePageView{
    margin-top: 79px;
    margin-bottom: 40px;
    height: 100px;
    background: #4ECDC4;
  }

  .siglePageTitle{
    padding-top: 13px;
    font-size: 30px;
    padding-left: 13px;
  }

  .singleSite{
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.4);
  }

  .singleSiteDescription{
    h3{
      color: #292F36;
      margin: 0px;
      
    }
    .header-underscore{
      width: 40px;
      height: 1px;
      background: #292F36;
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }
  .projectDescription, .techDescription{
    color: #292F36;
  }

  .technologies{
    margin-top: 40px !important;
  }


  .footer{
    background: #292F36;
    position: relative;
    bottom:0;
    width: 100%;
    border-top: 5px solid #FF6B6B;
    height: 50px;
    padding-top: 5px;
  }

  .footerCopy{
    h6{
    float: left;
    font-size: 15px;
  }
  }

  .footerNav{
    h6{
      text-align: center;
      font-size: 12px;
    }
  }

  .footerSocial{
     a{
      float: right;
      color: white;
      font-size: 20px;
      text-decoration: none;
      padding-top: 10px;
      padding-right: 5px;

  }
}

.footerMenu{
  cursor: pointer;
}

.content{
  min-height: calc(100vh - 50px)
}

.noStyle:hover{
  text-decoration: none;
}

